@import url('https://fonts.googleapis.com/css2?family=Gloock:wght@100..900&family=Montserrat:wght@100..900&family=Playwrite+AR:wght@100..400&display=swap');

@import "tailwindcss";

@font-face {
  font-family: myFont;
  src: url('/lt_internet/LTInternet-Regular.ttf') format('ttf');

}


:root {
  line-height: 1.5;
  font-weight: 400;

  background-color: #242424;
  color: #f2f2f2;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body {
  overflow-x: hidden;
  background-color: #171717;
  font-family: myFont, serif;
}
.cust-font {
  font-family: 'Gloock', serif;
  letter-spacing: 0.182rem;
  font-weight: bold;
}
.about-font {
  font-family: 'Gloock', serif;
  font-weight: 300;
}
.hero-font {
  font-family: 'Montserrat';
  font-weight: 200;
}
.action {
  border: none;
  outline: none;
  display: inline-block;
  border-radius: 0.25rem;
  background-color: rgba(167, 139, 250, 1);
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  text-align: center;
  font-weight: 600;
  letter-spacing: 0.05em;
  color: rgba(17, 24, 39, 1);
}
.action:hover {
  background-color : rgba(167, 139, 250, .7);
  cursor: pointer;
  color: #cdcdcd;
} 

.folded-rectangle {
  --r: 80px; /* radius */

  width: 100%;
  position: absolute;
  left: 0;
  top: 40%;
  height: 100vh;
  aspect-ratio: 1.5;
  background: rgba(167, 139, 250, .8);
  border-radius: var(--r) 0/calc(2*var(--r)) 0;
  padding-block: var(--r);
  --_m:#0000 100%,#000 calc(100% + 1px);
  mask:
    conic-gradient(#000 0 0) content-box,
    radial-gradient(var(--r) at 100% 100%,var(--_m)) 0 100% no-repeat,
    radial-gradient(var(--r) at 0    0   ,var(--_m)) 100% 0 no-repeat;
  mask-size: var(--r) var(--r);
} 
.border-nav {
  background-color: #0202020a;
  padding: 10px;
  border-radius: 12px;
}
.border-nav:hover {
  background-color: #7271710a;
}

@media (width < 1008px) {
  .folded-rectangle {
    height: 150vh;
  }

}
@media (width < 768px) {
  .folded-rectangle {
    height: 180vh;
    top: 50%;
  }
}
@media (width < 400px) {
  .folded-rectangle {
    top: 65%;
  }
}
