@import url('https://fonts.googleapis.com/css2?family=Gloock&family=Italiana:wght@100..900&family=Montserrat:wght@100..900&family=Orbitron:wght@400..900&display=swap');
@import "tailwindcss";

@font-face {
  font-family: myFont;
  src: url('/lt_internet/LTInternet-Regular.ttf') format('ttf');

}


:root {
  line-height: 1.5;
  font-weight: 400;

  --black-variant: #242424;
  color: #f2f2f2;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
* {
  scrollbar-width: 9px;
  scrollbar-color: #a78bfa var(--black-variant);

}
.headings-size {
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 2rem;
}
.contents-size {
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.5rem;
}
::-webkit-scrollbar {
  width: 9px;
}
::-webkit-scrollbar-track {
  background: var(--black-variant);
}
::-webkit-scrollbar-thumb {
  background: #a78bfa;
  border-radius: 4px;
}
::-webkit-scrollbar-track:hover {
  background: #bca6fe;
}
body {

  overflow-x: hidden;
  background-color: #171717;
  font-family: 'Montserrat', serif;
}
.brand {
  font-family: 'Italiana', serif;
}
.italiana {
  font-family: 'Montserrat', serif;
  font-weight: 900;
  letter-spacing: 0.0302em;

}
.orbitron {
  font-family: 'Orbitron', serif;
}
.font-st {
  font-family: 'Orbitron', serif;
  font-weight: 500;
}
.cust-shadow-box {
  -webkit-box-shadow: 30px 15px 60px -7px rgba(167,139,250,1);
  -moz-box-shadow: 30px 15px 60px -7px rgba(167,139,250,1);
  box-shadow: 30px 15px 60px -7px rgba(167,139,250,1);
}
.supp-bg {
background: #333333;
background: linear-gradient(120deg, rgba(51, 51, 51, 1) 0%, rgba(87, 75, 122, 1) 5%, rgba(101, 86, 148, 1) 8%, rgba(26, 16, 16, 1) 15%, rgba(54, 54, 54, 1) 70%, rgba(81, 70, 117, 1) 89%, rgba(43, 43, 43, 1) 100%);
}
/* 
US PAGE
*/

.outer {
  width: 100%;
  height: auto;
  padding: 0;
  background: radial-gradient(circle 220px at 10% 15%, #ffffff, #0c0d0d);
  position: relative;
}

.card {
  z-index: 1;
  width: 100%;
  backdrop-filter: blur(10px);
  padding: 1.5rem 1rem;
  height: auto;
  border: solid 1px #20222204;
  background-size: 20px 30px;
  background: radial-gradient(circle 280px at 0% 0%, #444444, #0c0d0dbb);
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  flex-direction: column;
  color: #fff;
}

.line {
  width: 100%;
  height: 1px;
  position: absolute;
  z-index: -1;
  background-color: #2c2c2c;
}
.topl {
  top: 5%;
  background: linear-gradient(90deg, #888888 30%, #1d1f1f 70%);
}
.bottoml {
  bottom: 5%;
}
.leftl {
  left: 5%;
  width: 1px;
  height: 100%;
  background: linear-gradient(180deg, #747474 30%, #222424 70%);
}
.rightl {
  right: 5%;
  width: 1px;
  height: 100%;
}


.little-jump
 {
  animation: jumpee 4s linear infinite;
 }
 @keyframes jumpee {
    from {
      transform: scale(1.0);
    }
    to {
      transform: scale(1.09);
    }
 }
.outbutton {
  max-width: 100%;
  text-align: center;
}

.corner-button:before,
.corner-button span:before,
.corner-button:after,
.corner-button span:after {
  display: block;
  content: "";
  width: 15px;
  height: 15px;
  position: absolute;
  text-align: center;
  justify-content: center;
  align-items: center;
}
.corner-button {
  display: inline-block;
  text-align: center;
  position: relative;
  min-width: max-content;
  min-height: 10px;
  background: none;
  border: none;
  text-decoration: none;
  cursor: pointer;
  color: #f2f2f2;
  border-radius: 10px;
  padding: 12px 18px;
  box-sizing: content-box;
  border: 2px solid transparent;
  text-align: center;
  line-height: 30px;
  transition: 0.75s ease;
}
.corner-button:before {
  top: -2px;
  left: -2px;
  border-top: 2px solid #a78bfa;
  border-top-left-radius: 8px;
  border-left: 2px solid #a78bfa;
  transition: 0.75s all;
}
.corner-button:after {
  top: -2px;
  right: -2px;
  border-top: 2px solid #a78bfa;
  border-top-right-radius: 8px;
  border-right: 2px solid #a78bfa;
  transition: 0.75s all;
}
.corner-button span {
  display: block;
  text-align: center;
  justify-content: center;
  align-items: center;
  margin-left: 8px;
}
.corner-button span:before {
  bottom: -2px;
  left: -2px;
  border-bottom: 2px solid #a78bfa;
  border-bottom-left-radius: 8px;
  border-left: 2px solid #a78bfa;
  transition: 0.75s all;
}
.corner-button span:after {
  bottom: -2px;
  right: -2px;
  border-bottom: 2px solid #a78bfa;
  border-bottom-right-radius: 8px;
  border-right: 2px solid #a78bfa;
  transition: 0.75s all;
}
.corner-button:hover {
  color: #ffffff;
  border-radius: 10px;
}
.corner-button:hover:before,
.corner-button:hover:after {
  border-color: #a78bfa;
  width: 100%;
  height: 100%;
  border-radius: 10px;
}
.corner-button:hover span:before,
.corner-button:hover span:after {
  border-color: #a78bfa;
  width: 100%;
  height: 100%;
  border-radius: 10px;
}
button:hover span::before,
button:hover span::after {
  width: 50px;
  height: 50px;
  border-radius: 10px;
}

.path1.animate {
  fill: #a78bfa6d;
}
.path2.animate {
  fill: #f2f2f2d7
}
.path1, .path2 {
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  transition: all 1.3s ease-in-out;
}
.path2 {
  transform: translateX(50px);
  opacity: 0;
}
.path2.animate {
  transform: translateX(0);
  opacity: 1;
}
.path1.animate, .path2.animate {
  stroke-dashoffset: 0;
}
.column {
  opacity: 0;
  transform: translateY(50px);
  animation: drawColumn 1s ease-out forwards;
}

.column.animate-column {
  animation-delay: 0s;
}

@keyframes drawColumn {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}


.cust-background {
  background: rgb(148,148,148);
  background: linear-gradient(180deg, 
  rgba(29, 29, 29, .95) 12%, 
  rgba(73, 73, 73, 0.661) 22%, 
  rgba(148,148,148,0.7660057773109244) 33%, 
  rgba(29,29,29,.8) 74%, 
  rgba(23,23,23,.99) 95%);

}
.curved-edge {
  --c: 120px; /* control the curvature (works with percentage) */
  height: 200px;
  width: 100%;
  aspect-ratio: 3/2;
  mask: radial-gradient(60% var(--c) at bottom,#0000 calc(100% - 2px),#000);
  background: #a78bfa71;
}

.curved-edge-two {
  --c: 120px; 
  height: 300px;
  aspect-ratio: 3/2;
  mask: radial-gradient(60% var(--c) at top,#0000 calc(100% - 1px),#000);
  background: #a78bfa71;
}
.container-svgs svg {
  fill: #fff;
  stroke-width: .3;
  stroke: #fff;
}
.cust-font {
  font-family: 'Gloock', serif;
  letter-spacing: 0.182rem;
  font-weight: bold;
}
.about-font {
  font-family: 'Gloock', serif;
  font-weight: 300;
}
.heading-about {
  font-family: 'Orbitron', serif;
  font-weight: 400;
  letter-spacing: 0.012rem;
  font-size: 1.21rem;
  text-align: center;
}
.hero-font {
  font-family: 'Montserrat';
  font-weight: 200;
}
.body-hidden {
  overflow: hidden;
}
.hover-footer {
  padding: 4px 6px;
  border-radius: 6px;
  width: max-content;
}
.hover-footer:hover {
  background: #f2f2f2;
  color: #090909;
}

.action {
  --color: #a78bfa;

  font-family: 'Montserrat', serif;
  display: flex;
  align-items: center;
  width: max-content;
  padding: 15px 20px;
  height: auto;
  line-height: 2;
  overflow: hidden;
  font-weight: 500;
  cursor: pointer;
  margin: 20px;
  text-decoration: underline;
  font-size: 18px;
  z-index: 1;
  color: var(--color);
  border: 2px solid var(--color);
  border-radius: 9999px;
  position: relative;
}

.action::before {
  position: absolute;
  content: "";
  background: var(--color);
  width: 100%;
  height: 200px;
  z-index: -1;
}

.action:hover {
  color: white;
}

.action:before {
  top: 100%;
  left: 100%;
  transition: 0.3s all;
}

.action:hover::before {
  top: -30px;
  left: 0px;
}

.folded-rectangle {
  --r: 140px; /* radius */

  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  height: 100vh;
  aspect-ratio: 1.5;
  background: rgba(167, 139, 250, .8);
  border-radius: var(--r) 0/calc(2*var(--r)) 0;
  padding-block: var(--r);
  --_m:#0000 100%,#000 calc(100% + 1px);
  mask:
    conic-gradient(#000 0 0) content-box,
    radial-gradient(var(--r) at 100% 100%,var(--_m)) 0 100% no-repeat,
    radial-gradient(var(--r) at 0    0   ,var(--_m)) 100% 0 no-repeat;
  mask-size: var(--r) var(--r);
} 
.border-nav {
  background-color: #0202020a;
  padding: 10px;
  border-radius: 12px;
}
.border-nav:hover {
  background-color: #7271710a;
}

.title {
  font-size: 1.2rem;
  line-height: 2rem;
  font-weight: 700;
  color: #fff
}

.text-animation {
  animation: textUp .8s ease-out forwards;
}
.head-animation {
  animation: headUp 1s ease-out forwards;
}
.wp-chat {
  text-decoration: underline;
  text-decoration-color: #a78bfa;
}

@keyframes textUp {
  0% {
    transform: translateY(20px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes headUp {
  0% {
    transform: translateY(40px) scaleY(0.8) skewY(5deg);
    filter: blur(4px);
    opacity: 0.3;
  }
  50% {
    transform: translateY(-10px) scaleY(1.1) skewY(-3deg);
    filter: blur(1px);
    opacity: 0.8;
  }
  100% {
    transform: translateY(0) scaleY(1) skewY(0);
    opacity: 1;
    /* filter: blur(0); */
  }
}

@keyframes arrowPulse {
  0% {
      opacity: 0;
      transform: translateX(100%);
  }
  70% {
      opacity: 1;
      transform: translateX(0) scale(1);
  }
  85% {
      transform: scale(0.8);
  }
  95% {
    transform: scale(1);
  }
  100% {
      opacity: 0;
  }
}

.arrow-animation {
  animation: arrowPulse 3s ease-in-out infinite;
}

.load-bord ,.load-custom-bord{
  width: 0;
  height: 1.5px;
  background-color: white;
  opacity: 0;
  transition: width 800ms ease-in, opacity 300ms ease-in;
}
.load-custom-bord {
  height: 1px;
  margin: 4px 0;
  background: #a78bfa;
 
}

.startAnim {
  animation: animborder 800ms ease-in forwards;

}

.marquee {
  overflow: clip;
}

.marquee-content, .marquee-second-content {
  display: flex;
  gap: 4rem;
  padding-left: 4rem;
  width: max-content;
}
.marquee-content {
  animation: marquee-move-text var(--speed, 18s) linear infinite var(
      --direction,
      forwards
    );
}
.marquee-second-content {
 
  animation: marquee-move-text var(--speed, 26s) linear infinite var(
      --direction,
      forwards
    );
}

.scroll-cards {
  counter-reset: card;
  position: relative;
  display: block;
  padding-bottom: 25vh;
  margin-top: 32px;
  height: auto;
}

.scroll-cards > .scroll-cards__item + .scroll-cards__item {
  margin-top: 20vh;
}

.scroll-cards__item {
  --offset: 1em;
  color: #fff;
  position: sticky;
  top: max(12vh, 10em);
  padding: 3em 6px;
  
  min-height: 30em;
  background: #242424;
  box-shadow: 0 2px 40px rgba(0, 0, 0, 0.1);
  width: calc(100% - 5 * var(--offset));
}

.scroll-cards__item:nth-of-type(0) {
  transform: translate(calc((0 - 1) * var(--offset)), calc((0 - 1) * var(--offset)));
}
.scroll-cards__item:nth-of-type(1) {
  transform: translate(calc((1 - 1) * var(--offset)), calc((1 - 1) * var(--offset)));
}
.scroll-cards__item:nth-of-type(2) {
  transform: translate(calc((2 - 1) * var(--offset)), calc((2 - 1) * var(--offset)));
}
.scroll-cards__item:nth-of-type(3) {
  transform: translate(calc((3 - 1) * var(--offset)), calc((3 - 1) * var(--offset)));
}
.scroll-cards__item:nth-of-type(4) {
  transform: translate(calc((4 - 1) * var(--offset)), calc((4 - 1) * var(--offset)));
}
.scroll-cards__item:nth-of-type(5) {
  transform: translate(calc((5 - 1) * var(--offset)), calc((5 - 1) * var(--offset)));
}

@media screen and (min-width: 37em) {

  .scroll-cards__item {
    --offset: 1em;
    padding-left: 5em;
  }
  .scroll-cards__item:before {
    counter-increment: card;
    content: "0" counter(card);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2.75em;
    height: 2.75em;
    background: #171717;
    color: #fff;
    text-align: center;
    border-radius: 50%;
    position: absolute;
    left: 1.25em;
    top: 1.25em;
    font-weight: bold;
  }
}

@media screen and (min-width: 62em) {

  .scroll-cards__item {
   
    max-width: 60em;
  }
}
.animate-icons {
  animation: animateSvgs 2s ease-in-out infinite;
}

@keyframes animateSvgs {
  0% {
    transform: scale(1.0);
  }
  to {
    transform: scale(1.02);
  }
}

@keyframes marquee-move-text {
  to {
    transform: translateX(-50%);
  }
}

@keyframes flashingStar {
  0% {
    transform: scale(1);
    opacity: 0.4;
  }
  10% {
    transform: scale(1.02);
    opacity: 1;
  }
  90% {
    width: 1px;
  }
  100% {
    transform: scale(1);
    opacity: .2;
  }
}

@keyframes fallingEffect {
  0% {
    top: -100%;
  }
  10% {
    top: 0;
  }
  100% {
    top: 100%;
  }
}

.animate-flashing-star {
  animation: flashingStar 2s ease-in-out infinite;
}

.animate-falling {
  animation: fallingEffect 4s linear forwards;
}


@keyframes animborder {
  0% {
    width: 20%;
    opacity: 0;
  }
  20% {
    width: 35%;
    opacity: 0.2;
  }
  50% {
    width: 65%;
    opacity: .5;
  }
  80% {
    width: 85%;
    opacity: .8;
  }
  100% {
    width: 100%;
    opacity: 1;
  }
}

@media (width < 768px) {
  .folded-rectangle {
    height: 150vh;
  }

  .title {
    font-size: 1.2rem;
    line-height: 1.5rem;
  }
  .scroll-cards {
    padding-bottom: 30vh;
  }
}
@media (width < 600px) {
  .scroll-cards__item {
    padding: 2rem 1.5rem;

  }
}
@media (width < 460px) {
  .scroll-cards {
    padding-bottom: 24vh;
  }
  .scroll-cards__item {
    min-height: 28em;
  }
}
@media (width < 400px) {
  .scroll-cards {
    padding-bottom: 20vh;
  }
  .scroll-cards__item {
    --offset: .92em;
  }
}

@media (width > 532px) {
  .scroll-cards__item {
    min-height: 28em;
  }
}

@media (width > 768px) {
  .folded-rectangle {
    height: 100%;
  }
}

@media (width > 1654px) {
  .custom-spacing-pc {
    gap: 10rem;
  }
}
@media (width > 2000px) {
  
  .custom-width-pc {
    width: 100dvw;
  }
  .custom-space {
    margin-top: 10rem;
  }
}
