@import url('https://fonts.googleapis.com/css2?family=Gloock&family=Italiana&family=Montserrat:wght@100..900&family=Orbitron:wght@400..900&display=swap');
@import "tailwindcss";

@font-face {
  font-family: myFont;
  src: url('/lt_internet/LTInternet-Regular.ttf') format('ttf');

}


:root {
  line-height: 1.5;
  font-weight: 400;

  --black-variant: #242424;
  color: #f2f2f2;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body {
  overflow-x: hidden;
  background-color: #171717;
  font-family: 'Montserrat', serif;
}
.brand {
  font-family: 'Italiana', serif;
}
.font-st {
  font-family: 'Orbitron', serif;
  font-weight: 500;
}
.cust-shadow-box {
  -webkit-box-shadow: 30px 15px 60px -7px rgba(167,139,250,1);
  -moz-box-shadow: 30px 15px 60px -7px rgba(167,139,250,1);
  box-shadow: 30px 15px 60px -7px rgba(167,139,250,1);
}

.cust-background {
  background: rgb(148,148,148);
  background: linear-gradient(180deg, 
  rgba(29, 29, 29, .95) 12%, 
  rgba(73, 73, 73, 0.661) 22%, 
  rgba(148,148,148,0.7660057773109244) 33%, 
  rgba(29,29,29,.8) 74%, 
  rgba(23,23,23,.99) 95%);

}
.cust-font {
  font-family: 'Gloock', serif;
  letter-spacing: 0.182rem;
  font-weight: bold;
}
.about-font {
  font-family: 'Gloock', serif;
  font-weight: 300;
}
.heading-about {
  font-family: 'Orbitron', serif;
  font-weight: 400;
  letter-spacing: 0.012rem;
  font-size: 1.21rem;
  text-align: center;
}
.hero-font {
  font-family: 'Montserrat';
  font-weight: 200;
}
.action {
  border: none;
  outline: none;
  display: flex;
  justify-content: center;
  width: max-content;
  gap: 14px;
  margin: 0 auto;
  font-family: 'Orbitron', serif;
  border-radius: 0.25rem;
  background-color: #a78bfa;
  padding-left: 3.25rem;
  padding-right: 3.25rem;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  text-align: center;
  font-weight: 400;
  letter-spacing: 0.05em;
  color: rgba(17, 24, 39, 1);
}
.action:hover {
  background-color : rgba(167, 139, 250, .7);
  cursor: pointer;
  color: #cdcdcd;
} 

.folded-rectangle {
  --r: 90px; /* radius */

  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  height: 100vh;
  aspect-ratio: 1.5;
  background: rgba(167, 139, 250, .8);
  border-radius: var(--r) 0/calc(2*var(--r)) 0;
  padding-block: var(--r);
  --_m:#0000 100%,#000 calc(100% + 1px);
  mask:
    conic-gradient(#000 0 0) content-box,
    radial-gradient(var(--r) at 100% 100%,var(--_m)) 0 100% no-repeat,
    radial-gradient(var(--r) at 0    0   ,var(--_m)) 100% 0 no-repeat;
  mask-size: var(--r) var(--r);
} 
.border-nav {
  background-color: #0202020a;
  padding: 10px;
  border-radius: 12px;
}
.border-nav:hover {
  background-color: #7271710a;
}

.title {
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 700;
  color: #fff
}

.load-bord {
  width: 0;
  height: 1.5px;
  background-color: white;
  opacity: 0;
  transition: width 800ms ease-in, opacity 300ms ease-in;
}

.startAnim {
  animation: animborder 800ms ease-in forwards;

}

.marquee {
  overflow: clip;
}

.marquee-content, .marquee-second-content {
  display: flex;
  gap: 6rem;
  padding-left: 6rem;
  width: max-content;
}
.marquee-content {
  animation: marquee-move-text var(--speed, 18s) linear infinite var(
      --direction,
      forwards
    );
}
.marquee-second-content {
 
  animation: marquee-move-text var(--speed, 26s) linear infinite var(
      --direction,
      forwards
    );
}

.scroll-cards {
  counter-reset: card;
  position: relative;
  display: block;
  padding-bottom: 15vh;
  margin-top: 12px;
  height: auto;
}

.scroll-cards > .scroll-cards__item + .scroll-cards__item {
  margin-top: 10vh;
}

.scroll-cards__item {
  --offset: 0.5em;
  color: #fff;
  position: sticky;
  top: max(12vh, 10em);
  padding: 2em .5em;
  min-height: 20em;
  background: #242424;
  box-shadow: 0 2px 40px rgba(0, 0, 0, 0.1);
  width: calc(100% - 5 * var(--offset));
}

.scroll-cards__item:nth-of-type(0) {
  transform: translate(calc((0 - 1) * var(--offset)), calc((0 - 1) * var(--offset)));
}
.scroll-cards__item:nth-of-type(1) {
  transform: translate(calc((1 - 1) * var(--offset)), calc((1 - 1) * var(--offset)));
}
.scroll-cards__item:nth-of-type(2) {
  transform: translate(calc((2 - 1) * var(--offset)), calc((2 - 1) * var(--offset)));
}
.scroll-cards__item:nth-of-type(3) {
  transform: translate(calc((3 - 1) * var(--offset)), calc((3 - 1) * var(--offset)));
}
.scroll-cards__item:nth-of-type(4) {
  transform: translate(calc((4 - 1) * var(--offset)), calc((4 - 1) * var(--offset)));
}
.scroll-cards__item:nth-of-type(5) {
  transform: translate(calc((5 - 1) * var(--offset)), calc((5 - 1) * var(--offset)));
}

@media screen and (min-width: 37em) {
  h1 {
    font-size: 3em;
  }
  .scroll-cards__item {
    --offset: 1em;
    padding-left: 5em;
  }
  .scroll-cards__item:before {
    counter-increment: card;
    content: "0" counter(card);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2.75em;
    height: 2.75em;
    background: #171717;
    color: #fff;
    text-align: center;
    border-radius: 50%;
    position: absolute;
    left: 1.25em;
    top: 1.25em;
    font-weight: bold;
  }
}

@media screen and (min-width: 62em) {
  .scroll-cards h1 {
    font-size: 3em;
  }
  .scroll-cards__item {
    --offset: 1.25em;
    max-width: 42em;
  }
}
@media (width < 371px) {
  .scroll-cards__item {
    --offset: .85em;
    max-width: 340px;
    padding: 1rem;
  }
}


@keyframes marquee-move-text {
  to {
    transform: translateX(-50%);
  }
}

@keyframes raydrop {
  0% { transform: translateY(-100%); opacity: 0; }
  10% { opacity: 1; }
  100% { transform: translateY(100%); opacity: 0; }
}

@layer utilities {
  .animate-raydrop {
    animation: raydrop 4s linear;
  }
}


@keyframes animborder {
  0% {
    width: 20%;
    opacity: 0;
  }
  20% {
    width: 35%;
    opacity: 0.2;
  }
  50% {
    width: 65%;
    opacity: .5;
  }
  80% {
    width: 85%;
    opacity: .8;
  }
  100% {
    width: 100%;
    opacity: 1;
  }
}

@media (width < 1008px) {
  .folded-rectangle {
    height: 140vh;
  }

}
@media (width < 768px) {
  .folded-rectangle {
    height: 200vh;
    top: 15%;
  }
}
@media (width < 420px) {
  .folded-rectangle {
    top: 17%;
  }
  .title {
    font-size: 1.2rem;
    line-height: 1.5rem;
  }

}
